.venv
**/data/
__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
out/

logs/
*.log
*.log.*

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

coverage/
*.tgz

.npm/

tmp/
temp/